# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Test
.pytest_cache/
.coverage*
htmlcov/

# Ruff
.ruff_cache/

# Type Checkers
.mypy_cache/

# Environment Variables
.env

# IDE
.idea/

# OS
.DS_Store
Thumbs.db